.sidebar {
    width:  300px;
    height: 100vh;
    padding: 0 20px;
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  
background: linear-gradient(to right, #4286f4, #373B44);
 position: fixed;
}
.sidebar-title {
    text-align: center;      
    font-weight: bold;    
    color: white;         
    margin-top: 20px;      
    margin-bottom: 30px;     
    font-size: 22px;       
}

.sidebar ul {

margin-top: 30px;
list-style-type: none;
padding: 0;
}
.sidebar .menu-item {
    padding: 10px 13px;
    margin: 8px 0px;
    color: #c1bfdf; 
    cursor: pointer;
}
.sidebar .menu-item  :hover {
    background-color: #3c364d;
    border-radius: 6px;
}

.sidebar .menu-item i {

font-size: 16px;
margin-right: 16px;

}

