.sidebar {
  width: 300px;
  background: linear-gradient(to bottom, #034ea2, #0575e6);
  color: white;
  min-height: 100vh;
  padding: 20px 15px;
  transition: width 0.3s ease, transform 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;

  .menu-item span,
  .section-title {
    display: none;
  }
}



.sidebar-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: left;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-title {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #f4d03f;
  padding-left: 5px;
}


.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 12px;
  margin-bottom: 5px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.menu-item i {
  font-size: 18px;
  margin-right: 10px;
}

.menu-item:hover,
.menu-item.active {
  background: white;
  color: #034ea2;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.menu-item:hover i,
.menu-item.active i {
  color: #034ea2;
}

.home-icon { color: #ff9800 !important; }
.modules-icon { color: #4caf50 !important; }
.reservations-icon { color: #2196f3 !important; }
.instructeurs-icon { color: #9c27b0 !important; }
.avis-icon { color: #ff5722 !important; }
.logout-icon { color: #f44336 !important; }
