.navbar {
position: fixed;
top: 0;
left: 0;
right: 0;
height: 60px;
 background: linear-gradient(to right, #021B79, #0575E6);
 display: flex;
 align-items: center;
 justify-content: space-between;
 border-bottom: 1px solid rgba($color: #000000,  $alpha: 1.0);


}

.nav-right {
display: flex;
align-items: center;
gap: 15px;
margin-right: 20px;

}
.dark_toggle {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;

}

.profile {

    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;


}
.profile-cercle {
width: 35px;
height: 35px;
border-radius: 50%;
background-color: #feae30;
color: #fff;
display: flex;
align-items: center;
font-weight: bold;
justify-content: center;

}
.profile-name {
    color: #fff;
    font-weight: 500;
    font-size: 14px;

}