.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 300px;
  flex-shrink: 0;
  height: 100vh;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 10;
}

.main-content {
  margin-left: 300px; 
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-navbar {
  height: 60px;
  width: 100%;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 9;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background: #f7f9fc;
}
