<div class="dashboard-container">

=  <div class="stats-grid">
    <div class="stat-card">
      <i class="bi bi-people-fill icon"></i>
      <h3>Patients</h3>
      <p class="value">1245</p>
      <span class="sub">+12 nouveaux aujourd’hui</span>
    </div>

    <div class="stat-card">
      <i class="bi bi-calendar-check icon"></i>
      <h3>Rendez-vous</h3>
      <p class="value">38</p>
      <span class="sub">5 en attente</span>
    </div>

    <div class="stat-card">
      <i class="bi bi-person-heart icon"></i>
      <h3>Médecins</h3>
      <p class="value">12</p>
      <span class="sub">3 en consultation</span>
    </div>

    <div class="stat-card">
      <i class="bi bi-cash-coin icon"></i>
      <h3>Paiements</h3>
      <p class="value">7 540 TND</p>
      <span class="sub">+850 TND today</span>
    </div>
  </div>

  <div class="middle-section">

    <div class="chart-card">
      <h3>Statistiques des Rendez-vous</h3>
      <canvas id="rdvChart"></canvas>
    </div>

    <div class="appointments-card">
      <h3>Rendez-vous du jour</h3>

      <div class="appointment" *ngFor="let appt of todaysAppointments">
        <i class="bi bi-person-circle"></i>
        <div>
          <strong>{{ appt.patient }}</strong>
          <p>{{ appt.time }} — Dr. {{ appt.doctor }}</p>
        </div>
        <span class="status" [ngClass]="appt.status">{{ appt.status }}</span>
      </div>

    </div>

  </div>

  <div class="quick-table">
    <h3>Patients récents</h3>
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Âge</th>
          <th>Contact</th>
          <th>Dernière visite</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of recentPatients">
          <td>{{ p.name }}</td>
          <td>{{ p.age }}</td>
          <td>{{ p.phone }}</td>
          <td>{{ p.lastVisit }}</td>
        </tr>
      </tbody>

    </table>
  </div>

</div>
